.visualeditor_block_container.enabled {
    border:1px red dotted;
    padding: 10px;
}

.visualeditor_block_identifier {
    display:none;
    float: right;
    font-size: 10px;
    padding:2px;
}

.visualeditor_content.disabled {
    display:none;
}

.visualeditor_textarea {
    display:none;
}

.visualeditor_textarea.enabled {
    display:block;
}

.visualeditor_block_identifier.enabled {
    display:block;
}